# Content of blog post: For loop in Pandas a.k.a. pd.apply()

Please, like my social media profiles:

Link to Twitter: https://twitter.com/filipgepper

Link to Github: https://github.com/filipgeppert

Thanks and happy coding!

In [1]:
import pandas as pd
import numpy as np

df = pd.read_csv("prices.csv", parse_dates=['date'], dtype={'price_day': float, 'price_night': float})
df.head()

        date  price_day  price_night
0 2018-11-06       60.0         54.0
1 2018-11-05       60.0         54.0
2 2018-11-04       60.0         54.0
3 2018-11-03       60.0         54.0
4 2018-11-02       65.0         58.5

# Use of lambda in pd.apply

In [2]:
%%time
df['month'] = df.date.dt.month

Wall time: 2 ms

In [3]:
%%time
df['month'] = df.date.apply(lambda x: x.month)

Wall time: 8.02 ms

In [4]:
%%time
def extract_month(x):
    month = x.month
    return month
df['month'] = df.date.apply(extract_month)

Wall time: 11 ms

In [5]:
%%time
# Create new column and assign default value to it
df['month'] = np.nan
# Use of iterrows, almost always not preferable! Always try to use .apply instead!
for index, row in df.iterrows():
    df.loc[index, 'month'] = df.loc[index,'date'].month

Wall time: 1.92 s

# Use of condition in pd.apply

In [6]:
%%time
def extract_month(x):
    month = x.month
    if month == 11:
        return "It's november. So cold!"
    elif month == 6:
        return "It's june. I love sun!"
    else: 
        return "It's ok."
df['month'] = df.date.apply(extract_month)

Wall time: 7.98 ms

# pd.apply() on multiple cells inÂ row

In [7]:
%%time
def mean_cost_per_day(row):
    mean_cost = np.mean([row.price_day, row.price_night])
    return mean_cost

df['mean_cost_per_day'] = df.apply(mean_cost_per_day, axis=1)

Wall time: 154 ms

In [8]:
df.head()

,date,price_day,price_night,month,mean_cost_per_day
0,2018-11-06,60.0,54.0,It's november. So cold!,57.00
1,2018-11-05,60.0,54.0,It's november. So cold!,57.00
2,2018-11-04,60.0,54.0,It's november. So cold!,57.00
3,2018-11-03,60.0,54.0,It's november. So cold!,57.00
4,2018-11-02,65.0,58.5,It's november. So cold!,61.75